.container-slider {
  --width: 17rem;
  --height: 20rem;
  width: 100%;
  max-width: calc(var(--width) * 2);
  height: 27rem;
  perspective: 1000px;
  margin: 0.5rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: scale(0);
  animation: appearSection 0.5s 1.2s cubic-bezier(0.57, 1.67, 0.64, 0.92) forwards;
  padding-top: 0.5rem;
}
.carousel {
  margin: 2rem 3rem;
  transform-style: preserve-3d;
  width: var(--width);
  height: var(--height);
}
.face-carousel {
  position: absolute;
  z-index: 10;
  width: var(--width);
  height: var(--height);
  text-align: center;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-img {
  position: relative;
  width: calc((var(--width) - 0.5rem));
  height: calc((var(--width) / 16) * 9);
  left: 50%;
  top: calc(0.5rem / 2);
  transform: translateX(-50%);
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, inset 0px 0px 50px 6px #fff; 
  box-shadow: 0px 10px 13px -7px #000000, inset 0px 0px 50px 6px #fff;
}
.box-img img {
  width: 100%;
}
.container-link {
  position: relative;
  top: -0.5rem;
  list-style-type: none;
}
.container-link a {
  color: var(--color);
  text-align: center;
  font-size: 1.3rem;
}
.s1 span {
  transform-origin: bottom;
}
.s2 span {
  transform-origin: top;
  transform: translateY(100%) rotateX(-90deg);
}
.s2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.container-link:hover .s1 span {
  transform: translateY(-100%) rotateX(-90deg);
}
.container-link:hover .s2 span {
  transform: translateY(0%) rotateX(0deg);
}
.box-techno {
  position: relative;
  top: -1rem;
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: space-around;
}
.box-techno li {
  position: relative;
  list-style-type: none;
  display: inline;
}
.box-techno li:not(:nth-child(1)) {
  margin-left: 10px;
}
.box-techno li img {
  width: 20px;
  height: 20px; 
}
.link-more{
  position: relative;
  top: -1.5rem;
  width: 50%;
  margin: 0 auto;
  border-radius: 1.2rem;
  border: 2px solid var(--color);
}
@keyframes animateBtn {
  from, to{
    transform: scale(1);
  }
  10%{
    transform: scale(0.95);
  }
  40%{
    transform: scale(1.2);
  }
  55%{
    transform: scale(0.95);
  }
  70%{
    transform: scale(1.1);
  }
  90%{
    transform: scale(0.98);
  }
}
@keyframes animateBtn2 {
  from, to{
    transform: scale(1);
  }
  10%{
    transform: scale(0.95);
  }
  40%{
    transform: scale(1.2);
  }
  55%{
    transform: scale(0.95);
  }
  70%{
    transform: scale(1.1);
  }
  90%{
    transform: scale(0.98);
  }
}
.link-more a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--color);
}
.buttons {
  margin-top: 3rem;
}
.btn {
  margin: 0 2rem;
}
.face-ground{
  position: absolute;
  width: var(--width);
  height: var(--width);
  background-color: white;
  opacity: 0.2;
  left: 50%;
  transform: rotateX(90deg) translateX(-50%) translateZ(-11rem);
  box-shadow: 0px 0px 60px 60px #fff;
}
@media screen and (min-width: 380px) {
  .container-slider {
    margin: 1rem auto 0;
  }
  
  .face-ground{
    width: calc(var(--width) + 0.5rem);
    height: calc(var(--width) + 0.5rem);
    box-shadow: 0px 0px 65px 65px #fff;
  }
}
@media screen and (min-width: 500px) {
  .face-carousel {
    width: var(--width);
  }
  .buttons {
    margin-top: 0;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .btn {
    margin: 0;
  }
  .face-ground{
    width: calc(var(--width) + 1rem);
    height: calc(var(--width) + 1rem);
    box-shadow: 0px 0px 80px 80px #fff;
  }
}
@media screen and (min-width: 600px) {
  .face-ground{
    width: calc(var(--width) + 1.5rem);
    height: calc(var(--width) + 1.5rem);
    box-shadow: 0px 0px 90px 90px #fff;
  }
}
@media screen and (min-width: 800px) {
  .container-slider {
    padding-top: 1.5rem;
  }  
  .face-ground{
    width: calc(var(--width) + 2rem);
    height: calc(var(--width) + 2rem);
    transform: rotateX(90deg) translateX(-50%) translateZ(-11rem);
  }
}
@media screen and (min-width: 1000px) {
  .container-slider {
    margin: 2rem auto;
  }
  .face-ground{
    width: calc(var(--width) + 3rem);
    height: calc(var(--width) + 3rem);
    transform: rotateX(90deg) translateX(-50%) translateZ(-14rem);
  }
}
@media screen and (min-width: 1100px) {
  .container-slider {
    margin: 5rem auto;
  }
}
@media screen and (min-height: 1050px) {
  .face-ground{
    width: calc(var(--width) + 6rem);
    height: calc(var(--width) + 6rem);
    transform: rotateX(90deg) translateX(-50%) translateZ(-20rem);
    box-shadow: 0px 0px 100px 100px #fff;
  }
}