@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@font-face {
  font-family: "Fragmentcore";
  src: url(../../fonts/Fragmentcore.otf);
}
:root {
  --height-header: 5rem;
  --color: #ceafaf;
  --background-color: #0c0c0c;
}
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color);
  font-family: "Fragmentcore";
  width: 100%;
  height: 100vh;
  background: var(--background-color);
}
.body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  position: relative;
  z-index: 10;
  background: transparent;
}
.canvas-one {
  position: absolute;
  top: 0;
  left: 0;
}
.header__container {
  position: relative;
  left: 50%;
  transform: translateX(-35%);
  width: 15rem;
  opacity: 0;
  animation: move 0.3s 1s ease-in forwards;
}
.header__container--title {
  font-family: 'Sigmar', cursive;
  color: transparent;
  -webkit-text-stroke: 1px #ceafaf;
  font-size: 1.5rem;
  transform-origin: bottom left;
  animation: skew 0.5s 0.9s cubic-bezier(0, 1, 0, 1),
    bounce 0.3s 1.3s cubic-bezier(0, 0, 1, 1) forwards;
}
.logo-oclock {
  height: 14px;
}

.container-link {
  position: relative;
  top: 1.5rem;
  list-style-type: none;
}
.container-link a {
  color: var(--color);
  text-align: center;
  font-size: 1.3rem;
}
.container-link span {
  transition: 0.5s;
  display: inline-block;
}
.s1 span {
  transform-origin: bottom;
}
.s2 span {
  transform-origin: top;
  transform: translateY(100%) rotateX(-90deg);
}
.s2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.container-link:hover .s1 span {
  transform: translateY(-100%) rotateX(-90deg);
}
.container-link:hover .s2 span {
  transform: translateY(0%) rotateX(0deg);
}
main{
  perspective: 1000px;
  width: 100%;
  height: 100%;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
.banner-bottom{
  position: relative;
  width: 100%;
  bottom: 0;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateX(80deg);
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.banner-bottom p{
  text-align: center;
  font-family: 'Sigmar', cursive;
  position: relative;
  white-space: nowrap;
  font-size: 8.7vw;
  color: transparent;
  -webkit-text-stroke: 1px #ceafaf;
  transform: scale(0);
  animation: appearSection 0.5s 1.4s cubic-bezier(0.57, 1.67, 0.64, 0.92) forwards;
}
.header__container--title span:hover{
  color: var(--color);
  cursor: default;
}
.banner-bottom p span:hover{
  -webkit-text-stroke: 2px rgb(255, 77, 0);
  color: rgb(255, 77, 0);
  /* text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00; */
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 0px -33px 20px #CE5937;
  cursor: default;
}
.footer {
  --sizes-cube: 2rem;
  position: relative;
  height: 5rem;
  width: 100%;
  display: flex;
  background-color: transparent;
}
.footer__contact {
  transform: scale(0);
  height: 100%;
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  animation: appearSection 0.5s 1.6s cubic-bezier(0.57, 1.67, 0.64, 0.92)
    forwards;
  padding-bottom: 0;
}
.footer__contact--cubes {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.footer__contact--title {
  transition-duration: 0.5s;
  height: 5rem;
  display: flex;
  justify-content: center;
  font-family: 'Sigmar', cursive;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  top: -0.5rem;
  transform: scale(0);
}
.footer__contact--cube-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  padding: 0 10px;
}
.show{
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(.47,1.64,.41,.8);
  transform: scale(1);
  /* animation: shadow 0.4s ease-out; */
}
@keyframes shadow {
  to{
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  }
}
.footer__contact--cube {
  width: var(--sizes-cube);
  height: var(--sizes-cube);
  position: relative;
  transform-style: preserve-3d;
  animation: spin 15s infinite linear;
}
.second-cube {
  animation: spin 15s 1.5s infinite linear;
}
.face {
  position: absolute;
  width: var(--sizes-cube);
  height: var(--sizes-cube);
  background: var(--background-color);
}
.top {
  transform: rotateX(90deg) translateZ(calc(var(--sizes-cube) / 2));
}
.bottom {
  transform: rotateX(-90deg) translateZ(calc(var(--sizes-cube) / 2));
}
.left {
  transform: rotateY(-90deg) translateZ(calc(var(--sizes-cube) / 2));
}
.right {
  transform: rotateY(90deg) translateZ(calc(var(--sizes-cube) / 2));
}
.front {
  transform: rotateY(0deg) translateZ(calc(var(--sizes-cube) / 2));
}
.back {
  transform: rotateY(-180deg) translateZ(calc(var(--sizes-cube) / 2));
}

.face img {
  width: var(--sizes-cube);
}
.particles-js {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  left: 0;
  background: transparent;
  z-index: 0;
}

@media screen and (min-width: 500px) {
  .header__container {
    width: 26rem;
  }
  .header__container--title {
    width: 26rem;
    font-size: 2rem;
  }
  .banner-bottom p{
    -webkit-text-stroke: 2px #ceafaf;
  }
}
@media screen and (min-width: 700px) {
  .header__container {
    left: 35%;
  }
  .header__container--title {
    font-size: 2.5rem;
  }
  .banner-bottom p{
    -webkit-text-stroke: 3px #ceafaf;
  }
}
@media screen and (min-width: 900px) {
  .banner-bottom p{
    -webkit-text-stroke: 5px #ceafaf;
  }
}
@media screen and (min-width: 1000px) {
  .banner-bottom{
    bottom: 1rem;
  }
}

@keyframes move {
  from {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  to {
    transform: translateX(-50%);
    opacity: 1;
  }
}
@keyframes skew {
  from {
    transform: skewX(0deg);
  }
  to {
    transform: skewX(-40deg);
  }
}
@keyframes bounce {
  0% {
    transform: skewX(-40deg);
  }
  25% {
    transform: skewX(15deg);
  }
  50% {
    transform: skewX(30deg);
  }
  75% {
    transform: skewX(-10deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
@keyframes appearSection {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes spin {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(360deg);
  }
}
